.DS_Store
node_modules/
npm-debug.log
package-lock.json
*.log.*
.idea/
dump.rdb
.vscode/
coverage/
.nyc_output/
/nbproject/
uploads/
yarn.lock
*.log
.env
resource/dragons/
resource/spine/
resource/rewards/
mongo/data/*
mongo/secrets/*
docker-compose.yml
export
